<!DOCTYPE html >
<html lang="es" ng-app="webstore-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebStore</title>

    <link href="ico_09Grande.png" rel="shortcut icon" type="image/x-icon">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular/angular-moment-picker.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/angular-datatables/css/angular-datatables.min.css" rel="stylesheet" type="text/css">
    <link href="bower_components/ui-carousel-master/dist/ui-carousel.css" rel="stylesheet" type="text/css">
    <link href="css/webstore-app.css" rel="stylesheet">



    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="bower_components/raphael/raphael.min.js"></script>
    <script src="bower_components/morrisjs/morris.min.js"></script>
    <script src="bower_components/angular-morris/build/module/angular-morris/angular-morris.min.js"></script>
    <script src="bower_components/angular/angular-moment-picker.min.js"></script>
    <script src="bower_components/angular-datatables/angular-datatables.min.js"></script>
    <script src="bower_components/angular-datatables/plugins/scroller/angular-datatables.scroller.js"></script>
    <script src="bower_components/angular-datatables/plugins/select/angular-datatables.select.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="bower_components/fusioncharts/fusioncharts.js"></script>
    <script src="bower_components/fusioncharts/angular-fusioncharts.min.js"></script>
    <script src="bower_components/ui-carousel-master/dist/ui-carousel.js"></script>

    <script src="js/webstore-app.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/services/loginService.js"></script>
    <script src="js/controllers/publicController.js"></script>
    <script src="js/services/generalService.js"></script>
    <script src="js/controllers/productoController.js"></script>
    <script src="js/services/productoService.js"></script>
    <script src="js/controllers/direccionController.js"></script>
    <script src="js/controllers/checkOutController.js"></script>
    <script src="js/services/checkOutService.js"></script>
    <script src="js/services/publicService.js"></script>
    <script src="js/controllers/solicitarCCController.js"></script>
    <script src="js/services/solicitarCCService.js"></script>
    <script src="js/controllers/nuevaContraseniaController.js"></script>
    <script src="js/services/nuevaContraseniaService.js"></script>


</head>

<body ng-controller="PublicCtrl" >

    <!-- Navigation -->
    <div  class="col-lg-12" >
    <nav class="navbar navbar-default navbar-fixed-top " role="navigation"
         style=" background-color: #060606;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <a href="#/">
                    <img border="0" src="ico_09Grande.png" width="40" height="40" style="margin-top: 4%">
                    <span style="color:#f9f9f9;">Web</span><font color="#D55534">Store</font>
                </a>
            </a>
        </div>
        <div class="panel-heading col-md-3">
        </div>
            <div class="panel-heading col-md-4">
                <form class="form-signin ng-pristine ng-valid" role="form">
                    <fieldset>
                        <div class="input-group custom-search-form" >
                            <input class="form-control" placeholder="Buscar producto..." type="text" ng-model = "busqueda">
                            <span class="input-group-btn">
                                            <button class="btn  btn-block" type="submit" ng-click="buscarProductosIndex()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                        </div>
                    </fieldset>
                </form>

                    </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown {{check}}" >
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click = "cargarPagina()">
                    <i class="fa fa-shopping-cart fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li ng-repeat="it in productosA">
                        <a>
                            <div>
                                <strong>({{it.cantidadProducto}}x){{it.cNombre}}</strong>
                                <span class="pull-right text-muted">
                                        <em>${{it.dPrecioPublico}}</em>
                                    </span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#/direccion/" ng-show="total!==null">
                            <strong>Total: ${{total}} Cheack out</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            </li>
            <!-- /.dropdown -->
            <!-- /.dropdown -->
            <li class="divider">
            </li>
            <li ng-show="estaConectado()">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span ng-cloak> Hola {{name}}!</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li ng-hide="estaConectado()"><a href="#/login/"><i class="fa fa-sign-in fa-fw"></i> Iniciar Sesión</a>
                    <li ng-show="estaConectado()"><a href=""><i class="fa fa-user fa-fw"></i> Ver Perfil</a>
                    </li>
                    <li ng-show="estaConectado()"><a href=""><i class="fa fa-gear fa-fw"></i> Configuracion</a>
                    </li>
                    <li class="divider" ng-show="estaConectado()"></li>
                    <li ng-show="estaConectado()"><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Cerrar
                        Sesión</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </nav>
    </div>
    <div  class="col-lg-12">
    </div>
        <div  id = "page-wrapper" class="col-lg-12" ng-view >
        </div>
</body>

</html>
